body {
    background-color: #f8f9fa;
}

.chart-container {
    margin-bottom: 2rem;
    height: 400px; /* Maintain a consistent height for charts */
}

#raw-data-table,
#streak-frequency-table,
#probability-table {
    height: 500px;
    overflow-y: scroll;
}

#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    z-index: 1001; /* Ensure it's above the bootstrap navbar */
    font-size: 1.2rem;
}

.hidden {
    display: none;
}
